@font-face {
    font-family: 'NeueMontreal';
    src: url('fonts/NeueMontreal/NeueMontreal-Light.otf;');
}

@font-face {
    font-family: 'TheSeasons';
    src: url('fonts/TheSeasons/Fontspring-DEMO-theseasons-reg.otf');
}

body {
    font-family: 'NeueMontreal', sans-serif;
    font-weight: lighter;
    background-color: #E0D2C2;
    font-size: 16px;
}

h1 {
    font-family: 'TheSeasons', sans-serif;
    font-weight: 100;
}

/* header h1 {
    font-size: 64px;
} */

.container, .container-fluid {
    padding: 32px;
}

.bg-colorful {
    background-color: #721011;
}

header > .container-fluid {
    padding: 0!important;
}

.btn {
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 32px;
}

.btn-danger {
    background-color: #721011;
    color: #fff;
    border-color: #721011;
}

.btn-danger:hover {
    background-color: #721011;
    border-color: #721011;
}

.btn-light {
    background-color: #fff;
    color: #000;
    border-color: #ccc;
}

.btn-light:hover {
    background-color: #f2f2f2;
}

.border-content {
    border: 1px solid #333;
    padding: 32px;
}

.list {
    border: 1px solid #fff;
    width: 70%;
    margin: 0 auto;
}

.terms {
    background-color: #000;
}

.price-after {
    font-size: 56px;
}

.price {
    font-size: 32px;
    line-height: 1.8;
}

.installments {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.two-columns-text p {
    width: 88%;
}

.bg-brown {
    background-image: url(files/bg-brown.jpeg);
    background-size: contain;
    background-color: #8B4513;
}

img.barbara {
    -webkit-box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

/* Estilos do cabeçalho */
header {
    color: #fff;
}

.header-container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 1;
    text-align: center;
}

.column-left {
    order: 1;
}

.column-right {
    order: 2;
}

.column img {
    width: 100%;
    height: auto;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
    .two-columns-text p {
        width: 100%;
    }
    .container, .container-fluid {
        padding: 8px;
    }
}