@font-face {
    font-family: 'NeueMontreal';
    src: url('fonts/NeueMontreal/NeueMontreal-Regular.otf');
}

@font-face {
    font-family: 'TheSeasons';
    src: url('fonts/TheSeasons/Fontspring-DEMO-theseasons-reg.otf')
}

body {
    font-family: 'NeueMontreal', sans-serif;
    background-color: #E0D2C2;
}

h1 {
    font-family: 'TheSeasons', sans-serif!important;
    font-weight: 100;
    font-size: 48px;
}

.red {
    background-color: #721011;
}

.btn {
    font-size: 24px;
    padding: 12px 40px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}

.btn-danger {
    background-color: #721011;
    color: #fff;
    border-color: #721011;
}

.btn-danger:hover {
    background-color: #59090c;
    border-color: #59090c;
}

.btn-light {
    background-color: #fff;
    color: #000;
    border-color: #ccc;
}

.btn-light:hover {
    background-color: #f2f2f2;
}

.border-content {
    border: 1px solid #333;
    padding: 4rem;
    border-right: none;
}
.border-left {
    border-left: 1px solid #fff;
}
.list {
    border: 1px solid #fff;
    width: fit-content;
    margin: 0 auto;
}

.terms {
    background-color: #000;
}

.price-after {
    font-size: 72px;
    font-weight: bold;
}

.price {
    font-size: 24px;
    line-height: 1.8;
}

.installments {
    font-size: 20px;
}

header p {
    font-size: 36px;
}

footer p {
    font-size: 20px;
}

p {
    font-size: 24px;
}
.bg-brown {
    background-image: url(files/bg-brown.jpeg);
    background-size: contain;
}
img.barbara {
    -webkit-box-shadow: -5px 0px 5px 0px rgba(51,3,NaN,1);
    -moz-box-shadow: -5px 0px 5px 0px rgba(51,3,NaN,1);
    box-shadow: -5px 0px 5px 0px rgba(51,3,NaN,1);
    position: relative;
    z-index: 10;
}
