/* @font-face {
    font-family: 'NeueMontreal';
    src: url('fonts/NeueMontreal/NeueMontreal-Regular.otf')
} */
@font-face {
    font-family: 'NeueMontreal';
    src: url('fonts/NeueMontreal/NeueMontreal-Light.otf;')
}
@font-face {
    font-family: 'TheSeasons';
    src: url('fonts/TheSeasons/Fontspring-DEMO-theseasons-reg.otf')
}

body {
    font-family: 'NeueMontreal', sans-serif;
    font-weight: lighter;
    background-color: #E0D2C2;
    font-size: 18px;
}

h1 {
    font-family: 'TheSeasons', sans-serif;
    font-weight: 100;
    font-size: 3.5vw;
}

.container, .container-fluid {
    padding: 3.2vw;
}

.bg-colorful {
    background-color: #721011;
}

header > .container-fluid {
    padding: 0!important;
}

.btn {
    font-size: 1.6vw;
    padding: 0.5vw 1.6vw;
    border-radius: 3vw;
}

.btn-danger {
    background-color: #721011;
    color: #fff;
    border-color: #721011;
}

.btn-danger:hover {
    background-color: #59090c;
    border-color: #59090c;
}

.btn-light {
    background-color: #fff;
    color: #000;
    border-color: #ccc;
}

.btn-light:hover {
    background-color: #f2f2f2;
}

.border-content {
    border: 0.2vw solid #333;
    padding: 2vw;
}

.list {
    border: 0.2vw solid #fff;
    width: 70%;
    margin: 0 auto;
}

.terms {
    background-color: #000;
}

.price-after {
    font-size: 7vw;
}

.price {
    font-size: 2vw;
    line-height: 1.8;
}

.installments {
    font-size: 1.8vw;
}

p {
    font-size: 1.6vw;
}

.bg-brown {
    background-image: url(files/bg-brown.jpeg);
    background-size: contain;
    background-color: #8B4513;
}

img.barbara {
    -webkit-box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5); /* Corrected shadow color */
    -moz-box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5); /* Corrected shadow color */
    box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5); /* Corrected shadow color */
    position: relative;
    z-index: 10;
}

/* Estilos do cabeçalho */
header {
    color: #fff;
}

.header-container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 1;
    text-align: center;
}

.column-left {
    order: 1;
}

.column-right {
    order: 2;
}

.column img {
    width: 100%;
    height: auto;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
    span {
        font-size: 1.6vw;
    }
    /* .col-lg-6 {
        width: 50%;
    } */
}